<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/menu.xsd">
    <menu>
        <!-- Parent menu item -->
        <add id="Nicklas_SalesWatcher::sales_watcher"
             title="Sales Watcher"
             module="Nicklas_SalesWatcher"
             sortOrder="10"
             action="adminhtml/dashboard/index"
             resource="Nicklas_SalesWatcher::sales_watcher"/>

        <!-- Submenu item -->
        <add id="Nicklas_SalesWatcher::failed_orders"
             title="Failed Orders"
             module="Nicklas_SalesWatcher"
             sortOrder="20"
             action="salesoverview/dashboard/index"
             parent="Nicklas_SalesWatcher::sales_watcher"
             resource="Nicklas_SalesWatcher::failed_orders"/>

        <!-- Submenu item -->
        <add id="Nicklas_SalesWatcher::sales_overview"
            title="Sales Overview"
            module="Nicklas_SalesWatcher"
            sortOrder="30"
            action="salesoverview/dashboard/sales"
            parent="Nicklas_SalesWatcher::sales_watcher"
            resource="Nicklas_SalesWatcher::sales_overview"/>
    </menu>
</config>